# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Virtual environments
venv/
env/

# Data and model artifacts
*.h5
*.tflite
saved_model_churn/
saved_model_churn_from_h5/

# OS files
Thumbs.db
.DS_Store

# VS Code
.vscode/
